.tile {
    /* background-color: rgb(255, 255, 255); */
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    box-shadow: 1px 10px 10px 3px #0000001a;
}

.tile a {
    line-height: 0;
}